{% load staticfiles %}

<!-- JS & CSS for ExtJs -->

{% if extjs %}

<link rel="stylesheet" type="text/css" href="{% static "ext/resources/ext-theme-neptune/ext-theme-neptune-all.css" %}"/>
<script type="text/javascript" src="{% static "ext/ext-all.js" %}"></script>
<script type="text/javascript" src="{% static "ext/locale/ext-lang-ru.js" %}"></script>
<script type="text/javascript" src="{% static "ext/Notification.js" %}"></script>

<script type="text/javascript" src="{% static "popup.js" %}"></script>

{% endif %}